.logoContainer {
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-White);
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*width: 370px;*/
  width: 100%;
  height: 40px;
  user-select: none;
  position: absolute;
  top: 56px;
  left: 62px;
}

.linksDiv {
  display: flex;
  position: relative;
  margin-left: 50px;
}
.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 20%;
  padding: 0 10px;
  color: var(--color-White);
  position: relative;
  /*font-size: 1.5rem;*/
}

.navbar a::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--color-White);
  position: absolute;
  left: 25%;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease-in;
}
.navbar a:hover::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.openNav,
.closeNav {
  padding-top: 8px;
  font-size: 2.2rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  color: var(--color-White);
}

.openNav {
  display: none;
}

.closeNav:hover {
  /*color: rgb(238, 124, 11);
  opacity: 100%;
  transform: rotate(90deg);*/
}

.logoAndClose {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 195px;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-top: 35px;
    color: var(--color-Black);
  }

  .navBarWhiteBg {
    background-color: var(--color-White);
  }
  .openNav {
    display: block;
    margin-right: 35%;
  }
  .closeNavIcon {
    color: var(--color-DarkGray);
  }
  .linksDiv {
    /*display: none;*/
    top: -30vh;
  }
  .linksDiv a {
    color: var(--color-Black);
  }
  .navbar a::before {
    background-color: var(--color-Black);
  }
}
@media (max-width: 375px) {
  .openNav {
    margin-right: 35%;
  }
}
